{{ asset_add("scripts.js", "finnito.module.members::js/chart.min.js") }}

<div class="dashboard-flex">
	<div class="documents-dash">
		<div class="flex-apart">
			<p class="heading">Recently Updated Documents</p>
			<a class="btn btn-md btn-success  " href="/admin/documents/create">
                <i class="fa fa-plus"></i>
                Add Documents
            </a>
		</div>
		<div class="rows">
			<div class="row heading">
				<div class="column">
					Document
				</div>
				<div class="column">
					User
				</div>
				<div class="column">
					Date
				</div>
			</div>
			{% for document in entries("documents", "documents")
				.orderBy("updated_at", "DESC")
				.limit(5)
				.get()
				%}
				<div class="row">
					<div class="column">
						<a href="/admin/documents/edit/{{document.id}}">
							{{ document.documents[0].name|split(".")[0] }}
						</a>
					</div>
					<div class="column">
						<a href="/@{{document.updated_by.username}}" target="_blank">
							{{ document.updated_by.first_name }}
						</a>
					</div>
					<div class="column">
						{{ carbon(document.updated_at).format("d-m-Y") }}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="news-dash">
		<div class="flex-apart">
			<p class="heading">News</p>
			<a class="btn btn-md btn-success  " href="/admin/news/create">
                <i class="fa fa-plus"></i>
                Add News
            </a>
		</div>
		<div class="rows">
			<div class="row heading">
				<div class="column">
					News
				</div>
				<div class="column">
					User
				</div>
				<div class="column">
					Date
				</div>
			</div>
			{% for news in entries("news", "news")
				.orderBy("date", "DESC")
				.whereDate("date", ">", date|format("Y-m-d"))
				.limit(2)
				.get()
				%}
				<div class="row">
					<div class="column">
						<a href="/admin/news/edit/{{news.id}}">
							{{ news.content.text }}
						</a>
					</div>
					<div class="column">
						<a href="/@{{news.updated_by.username}}" target="_blank">
							{{ news.updated_by.first_name }}
						</a>
					</div>
					<div class="column">
						{{ news.date.date }}
					</div>
				</div>
			{% endfor %}
			{% for old in entries("news", "news")
				.orderBy("date", "DESC")
				.whereDate("date", "<=", date())
				.limit(3)
				.get()
				%}
				<div class="row">
					<div class="column">
						<a href="/admin/news/edit/{{old.id}}">
							{{ old.content.text }}
						</a>
					</div>
					<div class="column">
						<a href="/@{{old.updated_by.username}}" target="_blank">
							{{ old.updated_by.first_name }}
						</a>
					</div>
					<div class="column">
						{{ old.date.date }}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="members-dash full">
		<div class="flex-apart">
			<p class="heading">{{ "now"|date("Y") }} Sign-Ups</p>
		</div>
		<div>
			{% include "finnito.module.members::partials/currentYearSignups" %}
		</div>
	</div>


</div>
<style>
.flex-apart {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	margin-bottom: 0.5rem;
}

.flex-apart p {
	margin: 0;
}

.dashboard-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.dashboard-flex > div {
	max-width: 50%;
	margin-bottom: 4rem;
	width: 100%;
}

.dashboard-flex > div.full {
	max-width: 100%;
}

.dashboard-flex > div:nth-child(odd) {
	border-right: 1px solid #E5E7E8;
	padding-right: 1.25rem;
}

.dashboard-flex > div:nth-child(even) {
	padding-left: 1.25rem;
}

.dashboard-flex > div .heading {
	font-weight: 500;
	font-size: 1.25rem;
	margin-bottom: 0.5rem;
}

.dashboard-flex > div .rows {
	width: 100%;
}

.dashboard-flex > div .rows .row {
	margin: 0;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	padding: 0.25rem;
}

.dashboard-flex > div .rows .row .column {
	padding-right: .5rem;
}

.dashboard-flex > div .rows .row .column,
.dashboard-flex > div .rows .row .column a {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dashboard-flex > div .rows .row:not(.heading):nth-child(odd) {
	background-color: #F9F9F9;
}

.dashboard-flex > div .rows .row.heading {
	background-color: #E5E7E8;
}

.dashboard-flex > div .rows .row .column:nth-child(1) {
	width: 50%;
}

.dashboard-flex > div .rows .row .column:nth-child(2),
.dashboard-flex > div .rows .row .column:nth-child(3) {
	width: 25%;
}

.news-dash .rows .row:nth-child(1),
.news-dash .rows .row:nth-child(4) {
	opacity: 1;
}

.news-dash .rows .row {
	opacity: 0.5;
}


</style>